# Gitignore Nothing Engine

# VS
.vs/
*.user
*.suo

# Build out
[Bb]in/
[Bb]uild/

# Info
naming_convention.txt

# Assets
assets/
assets_WIP/

# Compiler
*.obj
*.pch
*.pdb
*.ilk
*.idb
*.ipch

# Logs
*.log
*.tmp